---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container"><PageHeader page_data={page_data} /></div>
  </section>

  <section class="section">
    <div class="container">
      <div class="grid grid-cols-12 gap-8">
        <div class="col-span-3">
          <img class="rounded" src="/images/hgweb/红河谷.jpg" alt="红河谷" />
        </div>
        <div class="col-span-9">
          <p class="text-red-900 text-sm text-justify leading-relaxed mt-2">
            <strong>北京红谷软件技术有限公司</strong>
            是一家专业开发MES系统软件的高科技公司。
            <strong>北京红河谷时代信息技术有限公司</strong>
            是一家专业从事大型制造企业数字化智能化转型的高科技公司，隶属于
            <strong>金山云</strong>
            。红河谷与红谷软件长期结盟合作，统一称为RedValley。 公司引进学习国际一流的韩国浦项的管理理念和MES模型技术，采用“产品+定制化”的驻厂实施模式，成功实施了几十家百亿千亿大型制造企业MES系统，
            为这些企业的生产管理效率/效益提升做出了巨大贡献。公司研发了属于自己的iMES产品平台，此平台已成功通过IBM、Fortify（惠普旗下）、APP-CIT（金光集团）
            等多家大型跨国公司审查验证。十几年来，公司的项目案例在造纸行业有全球最大纸业工厂-金光集团，在钢铁行业的项目案例有东华钢铁、淮钢特钢、邢台钢铁、新兴铸管、
            青拓集团、沙钢集团、宣化钢铁、福建三明、南京钢铁、中天钢铁、太原钢铁、临汾钢铁、安阳钢铁、济南钢铁等，以上项目案例均获得客户一致好评。
          </p>
          <hr class="mt-4" />
          <h3 class="mt-4 text-red-800">联系我们</h3>
          <p class="text-red-900 text-sm leading-relaxed mt-2">
            <strong>地址：</strong>北京市海淀区上地三街中黎科技园D座601
          </p>
          <p class="text-red-900 text-sm leading-relaxed mt-2">
            <strong>电话：</strong>010-62983838 62984848 <strong>邮箱：</strong
            >zhaxg@qq.com zhaxg@rv.com.cn
          </p>
          <p class="text-red-900 text-sm leading-relaxed mt-2"></p>
          <img
            class="mt-4 rounded-xl"
            src="/images/hgweb/地图.jpg"
            alt="我们的位置"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container"></div>
  </section>
</Base>
